version: "3.9"

services:
  api:
    build: ./api
    container_name: api
    working_dir: /usr/src/app
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: password
      DB_NAME: game_db
      DATABASE_URL: mysql://root:password@db:3306/game_db?sslaccept=accept_invalid_certs
      PORT: 3000
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: game_db
      TZ: Asia/Tokyo
    volumes:
      - db_data:/var/lib/mysql
      - ./mysql/01init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306" # ローカルからも接続したいなら残す

  nginx:
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
    container_name: nginx
    ports:
      - "8080:80" # ローカル確認用 → http://localhost:3000
    depends_on:
      - api

volumes:
  db_data:
